@model FinPlannerCodeFirst.Models.ViewModels.HouseholdViewModel

<div class="container">
    @if (Model.IsJoinHouse)
    {
        <h2>Join Household</h2>

        using (Html.BeginForm("JoinHousehold", "Households", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.HHId)
            <h4>Welcome to the <strong>@Model.HHName</strong> household!  Click the <a class="btn-xs btn-info">JOIN</a> button below.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="JOIN" />
                </div>
            </div>
        }
    } else
    {
        <h2>Create Household</h2>
        using (Html.BeginForm("Create", "Households", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h5>Create a brand new household account. You'll be the first member!</h5>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-2 control-label">
                    <p>Household Name</p>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.HHName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </div>
        }
    }
</div>

@section Scripts {
}